.navbarbrand {
  font-family: "montserrat" !important;
  color: #2b2b2b;
  font-size: 1.8rem !important;
  font-weight: 900 !important;
  text-decoration: none !important;
}

.navlink {
  font-family: "montserrat";
  color: #2b2b2b;
  text-decoration: none;
  font-size: 1.1rem;
}
.closebtn {
}
.navlink:hover {
  color: #2b2b2b;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 900;
}
.github {
  background-color: #2b2b2b;
  color: #f9fbff;
  border-radius: 10px;
  padding: 0px 5px;
}
.github:hover {
  background-color: #f9fbff;
  color: #2b2b2b;
  border-radius: 5px;
  padding: 0px 5px;
}
.navbar {
  background: linear-gradient(to right, #f9fbff, #cae4fe);
}
