@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    /* Breakpoints */
    --breakpoint-sm: 520px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /* Fonts */
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Merriweather', serif;
    --font-mono: 'Fira Code', monospace;
    --font-base: clamp(1rem, 2vw, 1.25rem);
    --font-md: clamp(0.8rem, 1.5vw, 1rem);
    --font-lg: clamp(1.25rem, 3vw, 1.5rem);
    --font-xl: clamp(1.5rem, 4vw, 2rem);

    /* Default Light Mode Colors */
    --color-primary: #483EA8;
    --color-primary-50: #483EA880;
    --color-primary-30: rgba(73, 90, 255, 0.3);
    --color-secondary: #F0EDFF;
    --color-background: #ABA2FF;
    --color-text-primary: #000000;
    --color-text-secondary: #707070;
    --color-text-tertiary: #ffffff;


    /* Spacing */
    --spacing-small: 4px;
    --spacing-medium: 8px;
    --spacing-large: 16px;

    /* Border Radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
}
@layer theme {
    .dark{
        /* Dark Mode Colors */
        --color-primary: #483EA8;
        --color-primary-50: #483EA880;
        --color-secondary: #F0EDFF;
        --color-background: #ABA2FF;
        --color-text-primary: #000000;
        --color-text-secondary: #707070;
        --color-text-tertiary: #ffffff;
    }
}
body {
    font-family: var(--font-sans), serif;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        width: 0 !important;
    }
}
.cursor-pen {
    cursor: url('/pen-tool.svg'), auto;
}